


#div1 {
border: solid;
height: 80%;
background-color: #6699cc;
width: 90%;
cursor: pointer;
}

div {
float: left;
font-size: 1rem;
margin-left: 30px;
margin-top: 30px;
height:40%;
width: 30%;
border: solid;
background-color: #336666;
text-align: center;
}

p {
font-size: 1.5rem;
font-weight: 900;
font-family: "Courier";
color:	#66cccc;
}

@media screen and (min-width: 800px) {
    #div1{
    	font-size: 16px;
    	}


@media screen and (min-width: 1000px) {
    #div1{
    	font-size: 18px;
    	}

@media screen and (min-width: 1200px) {
    #div1{
    	font-size: 20px;
    	}
}

@media screen and (min-width: 1600px) {
	#div1{
		font-size: 22px;
		}
	
