
@media screen and (min-width: 600px) {
    html{
    	font-size: 10px;
    	}
}

@media screen and (min-width: 900px) {
	html{
		font-size: 22px;
		}
	


#div1 {
border: solid;
height: 80%;
background-color: #6699cc;
width: 90%;
cursor: pointer;
}

div {
float: left;
font-size: 1rem;
margin-left: 30px;
margin-top: 30px;
height:40%;
width: 30%;
border: solid;
background-color: #336666;
text-align: center;
}

p {
font-size: 1.5rem;
font-weight: 900;
font-family: "Courier";
color:	#66cccc;
}
