
body{
    background-color: #C1D1E0;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
	overflow-x: hidden;
}

.cartella{
	display:none;
}
#menubutton{
	float:left;
	width:60px;
}


#menu{
	width:300px;
}



/**********banner***************/
.banner{
    
    float: left;
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #d2691e;
    height:45px;
    width: 100%;

}

#menu_button{
    cursor: pointer;
    width: 80px;
    height: 30px;
    background-color: #d2691e;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    font-family: "Roboto","Droid Sans",arial,sans-serif;

}
#account{    
    margin-left: 90%;
    height: 30px;
    width: 50px;
    margin-top: -20px;
}






/*******************************/

.main{
float: left;
height:100%;
width: 100%;
background-color: #E6E1E1;

}

#menu_window{
    float: left;
    background-color: #CFD6E7;
    width: 10%;
    height: 100%;
}






div {
font-size: 1rem;
}




@media screen and (min-width: 400px) {
    html{
    	font-size: 10px;
    	}
}


@media screen and (min-width: 600px) {
    html{
    	font-size: 10px;
    	}
}


@media screen and (min-width: 800px) {
    html{
    	font-size: 12px;
    	}
}

@media screen and (min-width: 1000px) {
    html{
    	font-size: 14px;
    	}
    }
    .focusable
{
    margin-top: -20px;

}
}

@media screen and (min-width: 1200px) {
    html{
    	font-size: 16px;
    	}
}

@media screen and (min-width: 1400px) {
    html{
    	font-size: 18px;
    	}
}

@media screen and (min-width: 1600px) {
	html{
		font-size: 20px;
		}
}

.ruota90{
    transform: rotate(90deg);         /* standard */
    -webkit-transform: rotate(90deg);     /* Chrome - Safari */
    -moz-transform: rotate(90deg);    /* Firefox */
    -o-transform: rotate(90deg);      /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=90);    /* IE */
}
.ruotameno45{
     transform: rotate(270deg);         /* standard */
    -webkit-transform: rotate(270deg);     /* Chrome - Safari */
    -moz-transform: rotate(270deg);    /* Firefox */
    -o-transform: rotate(270deg);      /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=270);    /* IE */

}
#name_account{
    width: 20px;
    font-size: 20px;
    font-family: "Roboto","Droid Sans",arial,sans-serif;
}


#info_utente{
 display:inline;
 float: right;
 margin-right: 50px;
 margin-top: 6px;
 width: 20px;

}
#accountbotton{
    display: inline;
    float: right;
    margin-top: 8px;
    
}
#menutext{
    display: inline;
    float: left;
    margin-top: 6px;
    
    
}
#showMenu{
    display: inline;
    float: left;
    margin-top: -5px;
    width: 50px;
    
    
}
#image_utente{
    display: inline;
    float: right;
    border:solid black;
    margin-top: 6px;
    margin-right: 10px;
    border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
}

#imageaccount
{
    width:20px;
height: 20px;
  

}


