
body{
    background-color: #D6D7D9;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;

}
#menubutton{
	float:left;
	width:60px;
}
#menutext{
	float:left;
	width:60px;
	position: absolute;
	left:70px;
	top:9px;
	text-align: center;
	vertical-align: middle;
	
}

#menu{
	width:300px;
}
.banner{
    
    float: left;
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #d2691e;
    height:45px;
    width: 100%;

}

.main{
float: left;
height:100%;
background-color: #E6E1E1;

}

.menubottom{
    float:left;
    height:140px;
    border-top-style:groove;
    border-top-color:black;
    background-color:white;
    background-color: #2E2E1F;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display:none;

    z-index: 40;
}
#button{
	height:30px;
	width:60px;
	
}


#menu_button{
    cursor: pointer;
    width: 80px;
    height: 30px;
    background-color: #d2691e;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    font-family: "Roboto","Droid Sans",arial,sans-serif;

}

#menu_window{
    float: left;
    background-color: #CFD6E7;
    width: 10%;
    height: 100%;
}

.cointainerbottom
{
    width: 20%;
    height: 90%;
    margin-top: 0.5%;
    margin-left:2.5%;
    margin-right: 2.5%;    
    float:left;



    
}


.imgbottom
{
    width: 80%;
    height: 100%;
   
}




div {
font-size: 1rem;



}




@media screen and (min-width: 400px) {
    html{
    	font-size: 10px;
    	}
}


@media screen and (min-width: 600px) {
    html{
    	font-size: 10px;
    	}
}


@media screen and (min-width: 800px) {
    html{
    	font-size: 12px;
    	}
}

@media screen and (min-width: 1000px) {
    html{
    	font-size: 14px;
    	}
    }
.cointainerbottom{

        width: 10%;
        height: 90%;      
        margin-top: 0.5%;
        margin-left:7%;
        margin-right: 7%;    
        
    }
    .focusable
{
    margin-top: -20px;

}
}

@media screen and (min-width: 1200px) {
    html{
    	font-size: 16px;
    	}
}

@media screen and (min-width: 1400px) {
    html{
    	font-size: 18px;
    	}
}

@media screen and (min-width: 1600px) {
	html{
		font-size: 20px;
		}
	
