#nota_space{
     
     width: 100%;
     height: 100%;
     background-color: #DDDEE1;
     margin: auto;
}
.TestoNota{
    float: left;
    width: 100%;
}
.reductor{
	width: 100%;
	
}

.colorPicker{
	float: left;
	
}

.TitoloNota{
	margin-top:1%;
	margin-left:2%;
	float: left;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: "Times New Roman";
	color:	#330000;
}
.username{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 0.7rem;
	text-align: left;
	width: 30%
}

.nota{
margin-top:1%;
margin-left:4%;
width: 28%;
background-color: #E0E2E6;
float:left;

}


.editor-titolo{
resize: none;
width: 100%;
height: 20%;

}

.editnota{
	float: left;
}

#sortable {
	
     width: 100%;
	height: 100%;
}
 
 
.highlight {
	float:left;
    border: 5px solid black;
    font-weight: bold;
    font-size: 45px;
    background-color: lightblue;
 	margin-top: 10px;
	margin-left: 10px;
}

