
#nota_space{
   	float:left;
     width: 100%;
     background-color: #C1D1E0;
     margin: auto;
}
#NuovaNotaSpace{
	float:left;
	width:100%;
	display: table;
	background-color: #C1D1E0;
}

#add{
	margin:3px;
	float:right;
	
}
.block{
	display:none;
	width:100%;
	float:left;
	background-color:red;
	border:solid;
	text-align: center;
	
}

.OpzioniNota{
	width:100%;
	float :left;
	
}
.DateTime{
	padding:5px;
	margin-left:10px;
	float:left;
}

.imgutente{
	height:25px;
	width:25px;
	float:right;
	margin:3px;
}
.time{
	font-size:13px;
	width:75%;
	margin-top:4px;
	margin-left:10px;
	float:left;
	height:16px;
	border:none;
	background-color:#c9cece;
}
.orologio{
	float:left;
	margin-top:4px;
}

.NuovaNota{
	background-color:#c9cece;
	margin: 20px 35%;
	width:30%;
	float:left;
}

.TestoNota{
    float: left;
    width: 100%;
}
.redactor{
	width: 100%;
	
}

.colorPicker{
	float: left;
	
}

.TitoloNota{
	margin-top:1%;
	margin-left:2%;
	float: left;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: "Times New Roman";
	color:	#330000;
}
.username{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 0.7rem;
	text-align: left;
	width: 30%
}

.nota{
margin-top:2%;
margin-left:4%;
margin-bottom:1%;
width: 28%;
background-color: #E0E2E6;
float:left;
}


.editor-titolo{
resize: none;
width: 100%;
height: 20%;

}

.editnota{
	float: left;
}

#sortable {
	float:left;
     width: 100%;
	height: 100%;

}
 
 
