#nota_space{
     float: left;
     width: 100%;
     height: 100%;
     background-color: #DDDEE1;
     
}
.TestoNota{
    float: left;
    width: 100%;
}
.reductor{
	width: 100%;
}
.id{
	display:none;
	}
.colorPicker{
	float: left;
	
}

.TitoloNota{
	float: left;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: "Roboto","Droid Sans",arial,sans-serif;
	color:	#330000;
}
.username{
	margin-left: 5px;
	margin-top: 5px;
	font-size: 0.7rem;
	text-align: left;
	width: 30%
}

.nota{
display: none;
float: left;
width: 30%;
background-color: #E0E2E6;
margin-top: 2%;
margin-left: 2%;
}


.editor-titolo{
resize: none;
width: 100%;
height: 20%;

}