
<div id=banner class=Banner>
		<div id=menu>
			<div id=menubutton class=menubutton>
				<img id="menu_button"  src="JS/view/Image/threelines.png"></img>
			</div>
			<div id=menutext>
				Note
			</div>
		</div>
</div>

<div id=main class=main>
		<div id="NuovaNotaSpace">
		</div>
		<div id="nota_space" id_cartella="">
			<div id="sortable">
			</div>
		</div>
</div>

<div id=menubottom class=menubottom>

       
</div>








