
<div id=banner class=Banner>
		<div id=menu_button>
			Menu
		</div>
</div>

<div id=main class=main>
		<div id=menu_window>
				<ul>
						<li>Note</li>
						<li>Archivio</li>
						<li>Cestino</li>
				</ul>
		</div>	
		<div id=nota_space></div>
</div>





