<div id="perspective" class="perspective effect-rotateleft">
   <div class="container">
	    <div class="wrapper">	
				<div id=banner class=Banner>
					<div id=menu>
						<button id=showMenu class=menubotton >
							<img id="menu_button"  src="JS/view/Image/threelines.png"/>
						</button>
						<div id=menutext>
							Note
						</div>
					</div>
				</div>
	
				<div id=main class=main>
					<div id="NuovaNotaSpace">
					</div>
					<div id="nota_space" id_cartella="">
							<div id="sortable">	</div>
						</div>
				    </div>
	 	</div>
	</div>

	<nav class="outer-nav right vertical">
	   
				<a href="#" id="Note" class="icon-note iconmenu">Note</a>
				<a href="#" id="promemoria" class="icon-promemoria iconmenu">Promemoria</a>
				<a href="#" id="gruppi" class="icon-gruppi iconmenu">Gruppi</a>
				<a href="#" id="cestino" class="icon-cestino iconmenu">Cestino</a>
				<a href="#" class="icon-mail iconmenu">Messages</a>
				
	</nav>

</div>








