<div class=nota>
	<div class="username">
		Autore:  {{username}}
	</div>
	
	<div class="TitoloNota">
		{{titolo}}
	</div>
	<div class="TestoNota">
		<textarea class="editor">
	{{testo}}
		</textarea>
	</div>
	
</div>