<div class=nota>
	<div class="username">
		Autore:  {{username}}
	</div>
	
	<div class="TitoloNota">
			<textarea class="editor-titolo">
				{{titolo}}
			</textarea>
	</div>
	<div contenteditable="true" class="TestoNota">
		
	{{testo}}
		
	</div>
	
</div>