<div class=nota>

	<div class="TitoloNota" contenteditable="true">
				{{titolo}}
	</div>
	
	<div class="TestoNota">
	
	<div class="id">{{id}}</div>
		<textarea class="redactor">{{testo}}</textarea>
	</div>
	
</div>