
<div class="NuovaNota" id="">
    <div class="editnota">
     	<img id="edit_button" src="JS/view/Image/editnota.png"></img>
     </div>
     
	<div class="TitoloNota" contenteditable="true" >Nuovo titolo</div>
		
	<div class="colorPicker" >
        	<a class="color"><div class="colorInner"></div></a>
        	<div class="track"></div>
        	<ul class="dropdown"><li></li></ul>
        	<input type="hidden" class="colorInput"/>
    </div>
	
	<div class="TestoNota">
		<textarea class="redactor"></textarea>
	</div>
	
	<div class="OpzioniNota">
		<div class="DateTime">
			 <img class="orologio" src="JS/view/Image/orologio-icon.png"></img>
			 <input type="text" class="time" value="Promemoria" />
		</div>
		
		<div id="add">
			<img id="imgadd" src="JS/view/Image/add.png"></img>
		</div>
		<div class="condivisioni">
			<img class="imgutente" src="tmp/profilo.jpg"></img>
		</div>
	
	</div>
	
</div>
