<div id="menu_welcome">
<div id="bannerWelcome">
<div id="welcome_button"><img id="welcome_menu" src="JS/view/Image/threelines.png"/></div>
<div id="title">Post-It</div>
</div>
<div class="contenitore">
   <div id="slider">    
  <img src="JS/view/Image/pic1.jpg" />
  <img src="JS/view/Image/pic2.jpg" />
  <img src="JS/view/Image/pic3.jpg" />                
  </div>
</div>

       
  

<div id="signup">
      <div id="signupwindow">
         <div id="signup-header">
          <h2>Accedi per un'esperienza unica</h2>
          <p>Smarty,Easy,PostIt..</p>
          <a class="modal_close" href="#"></a>
         </div>
          <form action="">
              <div id="email_utente" class="textinput">
               <label class="label" for="">Email utente</label>
               <input  id="email_input" type="text" name="">
              </div>
              <div id="password_utente" class="textinput">
               <label class="label" for="">Password</label>
               <input  id="password_input" type="password" name="">
              </div>
              <div id="log_button">
                  <button id="button_login" type="button"> LogIn</button>
              </div>
          </form>
         
       </div>
</div>
</div>