<div id="menu_welcome">
	<div id="welcome_button"><img id="welcome_menu"  src="JS/view/Image/threelines.png"/></div>
</div>
<div id="signup">
      <div id="signupwindow">
         <div id="signup-header">
         	<h2>Sono una bozza...</h2>
         	<p>non giudicarmi... :(</p>
         </div>
          <form action="">
              <div id="email_utente" class="textinput">
               <label class="label" for="">Email utente</label>
               <input  id="email_input" type="text" name="">
              </div>
              <div id="password_utente" class="textinput">
               <label class="label" for="">Password</label>
               <input  id="password_input" type="password" name="">
              </div>
              <div id="log_button">
                  <button id="button_login" type="button"> LogIn</button>
              </div>
          </form>
         
       </div>
</div>